main {
    padding-top: 3rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.img-movie img{
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 3px rgba(15, 15, 15, 0.1);

    border-radius: 1rem 0 1rem 1rem;
    max-width: 15rem;
}

.informations {
    padding-top: 1rem;
    text-align: center;
}

.informations h1 {
    font-size: 1.5rem;
}

.classification {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.classification div {
    background: rgba(255, 248, 248, 0.315);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(15, 15, 15, 0.1);

    border-radius: 0.5rem 0 0.5rem 0.5rem;
    padding: 0.5rem;
}

.sinopse p {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    text-align: justify;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;

}

.details p {
    background: rgba(255, 248, 248, 0.315);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(15, 15, 15, 0.1);

    border-radius: 0.5rem 0 0.5rem 0.5rem;
    padding: 0.5rem;
    width: 50%;
}

.details a {
    background: #f22521 ;
    border: 1px solid rgba(255, 255, 255, 0.585);
    box-shadow: 0 4px 30px rgba(15, 15, 15, 0.1);
    color: white;

    border-radius: 0.5rem 0 0.5rem 0.5rem;
    padding: 0.5rem;
    width: 50%;
}

.redirection {
    margin-top: 1.2rem;
    width: 100%;

    background: #f22521 ;
    border: 1px solid rgba(255, 255, 255, 0.585);
    box-shadow: 0 4px 30px rgba(15, 15, 15, 0.1);
    color: white;

    border-radius: 0.5rem 0 0.5rem 0.5rem;
    padding: 1rem 0.5rem;
    transition: 300ms ease;
}

.redirection a {
    color: white;
}

.redirection:hover, .details a:hover {
    transform: scale(1.015);
}

@media (min-width:700px) {
    main {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .informations {
        text-align: start;
        max-width: 50rem;
    }

    .classification {
        justify-content: start;
        margin: 1rem 0;
    }

    .details {
        justify-content: start;
        width: 100%;
    }
}

@media (min-width: 900px) {
    main {
        font-size: large;
    }

    .img-movie img {
        max-width: 18rem;
    }
}