*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #b8b6b6;
    overflow-x: hidden;
}

header img {
    height: 4rem;
    margin: 0.4rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    color:rgb(66, 11, 117);
    transition: 300ms ease;
}

a:hover {
    opacity: 0.8;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f22521;
    height: 10vh;
}

.nav-list {
    display: flex;
    list-style: none;
    display: none;
}

.nav-list li {
    letter-spacing: 1px;
}

.mobile-menu {
    cursor: pointer;
}    

.mobile-menu div {
    width: 2rem;
    height: 2px;
    background: white;
    margin: 8px;
    border-radius: 1rem;
    transition: 300ms ease;
}

.nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    background-color: #f22521;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transform: translateX(100%);
    transition: transform 300ms ease;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.search-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fbeed0;
    padding: 2rem 1rem;
}

.search-card .form-search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.search-card input {
    margin-top: 0.5rem;
    width: 45%;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

.search-card button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f22521;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.general {
    margin: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.movies h2, .series h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

.movies p, .series p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.movie-list, .serie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.movie-card, .serie-card{
    background: rgba(255, 248, 248, 0.315);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(15, 15, 15, 0.1);

    border-radius: 1rem 0 1rem 1rem;
    padding: 1.5rem;
    max-width: 20rem;
}

.img-cards img{
    width: 100%;
    border-radius: 2.5rem 0 2.5rem 2.5rem;
}

.movie-card h3, 
.serie-card h3{
    text-align: center;
    margin-top: 1rem;
}

.labels-container{
    background-color: #f22521;
    font-weight: bold;
}

.movie-card .labels-container, 
.serie-card .labels-container{
    margin: 1rem 0;
    text-align: center;
}

.movie-card .label-card,
.serie-card .label-card {
    background: rgba(179, 100, 100, 0.315);
    border: 1px solid rgba(255, 234, 234, 0.541);
    box-shadow: 0 4px 30px rgba(15, 15, 15, 0.1);
    color: white;

    border-radius: 0.3rem 0 0.3rem 0.3rem;
    padding: 0.25rem 0.5rem;
}

.movie-card p, 
.serie-card p {
    text-align: justify;
    margin-bottom: 1rem;
}

.movie-card .details, 
.serie-card .details {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.movie-card button, 
.serie-card button {
    border-radius: 1rem 0 1rem 1rem;
    background-color: #f22521;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.733);
    box-shadow: 0 4px 30px rgba(24, 22, 22, 0.1);

    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #c91b18;
}

.title-team{
    text-align: center;
}

.title-team h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.title-team p{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.team-container{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-team{
    background: rgba(255, 248, 248, 0.315);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(15, 15, 15, 0.1);

    border-radius: 1rem 0 1rem 1rem;
    padding: 1.5rem;
    
    max-width: 20rem;
}

.card-img img{
    width: 100%;
    border-radius: 2.5rem 0 2.5rem 2.5rem;
}

.card-team h2  {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.card-team h5{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;  
} 

footer {
    background-color: #f22521;
    color: white;
    text-align: justify;
    padding: 1.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}

footer h3 {
    margin-bottom: 0.8rem;
}

@media (min-width: 550px) {
    footer {
        flex-direction: row;
        justify-content:space-around;
    }

    footer .description, footer .collaborators {
        max-width: 40%;
    }

    .mobile-menu {
        display: none;
    }

    .nav-list {
        top: 0;
        position:relative;
        width: fit-content;
        height: 10vh;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        transform: translateX(0);
    }
}
