*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

header {
    background-color: #f22521;
    color: white;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 5rem;
    margin: 0.4rem;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 2rem;
}   
header nav a:hover {
    text-decoration: underline;
}


#main {
    background-color: #fbeed0;
    padding: 1rem;
    font-weight: bold;
}

#main input {
    width: 40%;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

#main button {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f22521;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
